<!DOCTYPE html>
<html lang="uk">
<head data-th-replace="~{fragments/headers :: head(title='Orders')}">
  <title>Замовлення</title>
</head>
<body>
<div data-th-replace="~{/fragments/menu::menu(${session.role})}"></div>

<!-- CONTENT -->
<div class="section main-content" data-th-with="labels = ${application.statusLabels}">
  <div class="container">
    <div class="row" data-th-with="filter = ${labels.get(session.orderPaging.filter)}"><!---->
      <h3>
        <span>Замовлення за запитом: </span>
        <span class="font-weight-bold" data-th-text="${filter}"></span>
      </h3><!-- -->
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="tabs">
          <ul class="nav nav-tabs">
            <li data-th-class="${paging.filter == statusLabel.key} ? 'active'"
                data-th-each="statusLabel : ${labels}">
              <a data-th-href="@{/admin/order(filter=${statusLabel.key})}"
                 data-th-text="${statusLabel.value}">Нові</a>
            </li>
          </ul>
          <div class="tab-content">
            <div data-th-if="${#lists.isEmpty(orders)}" class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <h1>No such orders</h1>
              </div>
            </div>
            <div data-th-unless="${#lists.isEmpty(orders)}"
                 data-th-replace="~{fragments/orders_tab :: order_table(${orders},
                                   ${application.statusFlow}, ${application.statusIcons},
                                   ${application.statusStyles})}"
                 class="row">
              <ul>
                <li data-th-each="order : ${orders}" data-th-text="${order}">...</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal -->
      <div data-th-replace="~{fragments/pagination :: pagination(${session.orderPaging})}"></div>
    </div>
  </div>
  <div class="modal fade" id="dataModal" tabindex="-1" role="dialog"
       aria-labelledby="dataModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content"></div>
    </div>
  </div><!-- /.modal -->
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script data-th-src="@{/js/jquery-1.12.1.js}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script data-th-src="@{/js/bootstrap.js}"></script>
<script data-th-src="@{/js/confirm.js}"></script>
</body>
</html>