<!DOCTYPE html>
<html lang="uk">
<head data-th-replace="~{fragments/headers :: head(title='Books')}">
    <title>Books</title>
</head>
<body>
<div data-th-replace="~{/fragments/menu::menu('client')}"></div>

<!-- CONTENT -->
<div class="section main-content">
    <div class="container">

        <div class="row">
            <!--<h3 data-th-text="Замовлення ${empty search ? '' : 'по запросу '.concat(odp.search).concat('\') }">Orders</h3>-->
            <h3 data-th-text="Книги">Books</h3><!-- -->
        </div>
        <div data-th-replace="~{fragments/bookstable :: books('client')}"></div>
        <div data-th-replace="~{fragments/pagination :: pagination(${paging})}"></div>
    </div>
</div>

<!--<%@ include file="../jspf/bootstrap.jspf" %>-->
<data-th-block data-th-replace="~{/fragments/bootstrap :: bootstrap}"></data-th-block>
<script data-th-src="@{/js/confirm.js}"></script>
</body>
</html>