<!DOCTYPE html>
<html lang="uk">
<head data-th-replace="~{fragments/headers :: head(title='Book')}">
  <title>Book</title>
</head>
<body>
<div data-th-replace="~{/fragments/menu::menu('client')}"></div>

<!-- CONTENT -->
<div class="section main-content">
  <div class="container">
    <div class="row">
      <h2 data-th-text="${book.title}">Book title</h2>
    </div>
    <div class="row">
      <div class="col-md-3">
        <img alt="" src="">
      </div>
      <div class="col-md-9">
        <ul>
          <li data-th-each="a : ${book.author}">
            <span data-th-text="${a.name}">author name</span><br></li>
          <li data-th-text="${book.isbn}">isbn</li>
          <li data-th-text="${book.price}">price</li>
          <li data-th-text="${book.amount}">amount</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <img alt="" src="">
      </div>
      <div class="col-md-9">
        <form data-th-action="@{/client/addtocart}" method="post">
          <input type="hidden" name="id" data-th-value="${book.id}"/>
          <input type="number" min="1" data-th-max="${book.amount}" name="count" value="1"/>
          <button data-th-replace="~{/fragments/add_to_cart_button :: submitButton}"></button>
        </form>
      </div>
    </div>
  </div>
</div>

<data-th-block data-th-replace="~{/fragments/bootstrap :: bootstrap}"></data-th-block>
<script data-th-src="@{/js/confirm.js}"></script>


</body>
</html>