<div class="modal-content">

  <form class="form-horizintal" data-th-object="${book}"
        data-th-action="'/admin/book/' + *{id} + '/update'" id="editbook" method="post">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title">Книга</h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <!-- <fieldset> -->

        <!-- Form Name -->
        <!-- <legend>Книга</legend> -->

        <!-- Text input-->
        <div class="form-group required">
          <label class="col-sm-2 control-label" data-th-for="*{title}">Назва</label>
          <div class="col-sm-10">
            <input data-th-field="*{title}" placeholder="Назва"
                   class="form-control input-md"
                   data-th-errorclass="has-error"
                   required="required" type="text">
            <span class="help-block">Назва книги</span>
          </div>
        </div>

        <!-- Appended Input-->
        <div class="form-group required" data-th-each="a : *{author}" >
          <label class="col-sm-2 control-label" data-th-for="aname">Автор</label>
          <div class="col-sm-10">
            <input type="hidden" name="aid" data-th-value="${a.id}">
            <input class="form-control" data-th-id="aname" data-th-name="aname"
                   type="text"
                   placeholder="Ім'я автора"
                   data-th-appendclass="has-error"
                   data-th-value="${a.name}"
                   required="required">
            <span class="help-block">Введіть ім'я автора</span>
          </div>
        </div>

        <div class="col-sm-6">
          <!-- Text input-->
          <div class="form-group required">
            <label class="col-sm-12 control-label" data-th-for="*{price}">Цена</label>
            <div class="col-sm-12">
              <input data-th-field="*{price}" class="form-control input-md"
                     type="number"
                     placeholder="ціна"
                     data-th-errorclass="has-error"
                     required="required"
                     min="0" step="0.01">
              <span class="help-block">Ціна книги</span>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <!-- Text input-->
          <div class="form-group required">
            <label class="col-sm-12 control-label" data-th-for="*{amount}">Кількість</label>
            <div class="col-sm-12">
              <input data-th-field="*{amount}" class="form-control input-md"
                     type="number"
                     placeholder="Кількість"
                     data-th-errorclass="has-error"
                     required="required">
              <span class="help-block">Кількість на складі</span>
            </div>
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-sm-2 control-label" data-th-for="*{isbn}">ISBN</label>
          <div class="col-sm-10">
            <input data-th-field="*{isbn}" class="form-control input-md"
                   type="text"
                   placeholder="ISBN-12345-1234"
                   data-th-errorclass="has-error">
            <span class="help-block">Формат: ISBN-12345-1234</span>
          </div>
        </div>

        <!-- Select Basic -->
        <!--<div class="form-group">
          <label class="col-sm-2 control-label" for="category">Категория</label>
          <div class="col-sm-10">
            <select id="category" name="category" class="form-control">
              <c:forEach var="cat" items="${categories }">
                <c:set var="c" value="${book.category.ordinal() }"></c:set>
                <option ${cat.key== c ?
                'selected="selected"' : '' }
                value="${cat.value }" >${cat.value }</option>
              </c:forEach>
            </select>
            <span class="help-block">Выберите одну категорию</span>
          </div>
        </div>-->

        <!-- Textarea -->
        <div class="form-group">
          <label class="col-sm-2 control-label" data-th-for="*{description}">Опис</label>
          <div class="col-sm-10">
						<textarea data-th-field="*{description}"
                      class="form-control" data-th-text="*{description}"></textarea>
            <span class="help-block">Додайте анотацію до книжки</span>
          </div>
        </div>

        <!-- File Button -->
        <div class="form-group">
          <label class="col-sm-2 control-label" data-th-for="*{cover}">Обкладинка</label>
          <div class="col-sm-10">
            <input data-th-field="*{cover}" class="input-file"
                   type="file"
                   disabled="disabled">
          </div>
        </div>

        <!-- </fieldset> -->
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-success" type="submit" form="editbook" data-th-name="id" data-th-value="${book.id}">Подтвердить</button>
      <button class="btn btn-danger" type="button" data-dismiss="modal">Отмена</button>
    </div>
  </form>
</div>
