<!DOCTYPE html>
<html lang="uk">
<body>
<div class="tab-pane active"
     data-th-fragment="order_table(orders, flow, icons, styles)">
  <table class="table table-bordered">
    <colgroup class="col-position"></colgroup>
    <colgroup class="col-status"></colgroup>
    <colgroup class="col-title"></colgroup>
    <colgroup class="col-count"></colgroup>
    <colgroup class="col-price"></colgroup>
    <colgroup class="col-action" align="center"></colgroup>
    <thead class="text-center">
    <tr>
      <th>#</th>
      <th>Стан</th>
      <th>Замовник</th>
      <th>Кіл-ть</th>
      <th>Ціна</th>
      <th>Дії</th>
    </tr>
    </thead>
    <tbody data-th-each="order : ${orders}">
    <tr class="row-normal">
      <td data-th-text="${orderStat.count}">#</td>
      <td class="text-center">
        <a data-th-href="@{'/admin/order/' + ${order.id}(action=view)}"
           data-th-class="'btn ' + ${styles.get(order.status)}"
           data-toggle="modal" data-target="#dataModal">
          <i data-th-class="'glyphicon ' + ${icons.get(order.status)}"></i>
        </a>
      </td>
      <td colspan="2">
        <p class="lead"
           data-th-text="${order.user} and ${order.user.name} ?
           ${order.user.name} : 'unregistered'">User name</p>
        <p data-th-text="${order.id}">id</p>
      </td>
      <td><p class="text-right lead"
             data-th-text="${order.getPrice()}"></p></td>
      <td>
          <span data-th-each="next : ${flow.get(order.status)}">
						<a data-th-href="@{'/admin/order/' + ${order.id}(action=confirm, status=${next})}"
               data-th-class="'btn ' + ${styles.get(next)}"
               data-toggle="modal" data-target="#dataModal">
							<i data-th-class="'glyphicon ' + ${icons.get(next)}"></i>
						</a>
					</span>
        <!--</form>-->
      </td>
    </tr>
    <tr data-th-each="book : ${order.orderBooks}">
      <td></td>
      <td data-th-text="${bookStat.count}"></td>
      <td data-th-text="${book.book.title}"></td>
      <td><p class="text-center" data-th-text="${book.count}">Count</p></td>
      <td><p class="text-right" data-th-text="${book.price}">Price</p></td>
    </tr>
    </tbody>
  </table>
</div>

</body>
</html>
